@use "./variables" as *;

@mixin mobile-large {
  @media (min-width: $breakpoint-mobile-large) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin cell-size {
  width: 2.5rem;
  height: 2.5rem;

  @include mobile-large {
    width: 3rem;
    height: 3rem;
  }

  @include tablet {
    width: 5rem;
    height: 5rem;
  }
}

@mixin input-style {
  border: 2px solid var(--bg-main);
  color: var(--color-text);

  &:hover,
  :focus {
    border-color: var(--blue);
  }
}

@mixin button-style {
  height: 4rem;
  width: 18rem;
  background-color: var(--bg-main);
  color: var(--color-text);
  border-radius: 10px;
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;

  @include tablet {
    font-size: 3rem;
    height: 8rem;
    width: 28rem;
  }
}
