@use "./variables" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin cell-size {
  width: 5rem;
  height: 5rem;
}

@mixin input-style {
  border: 2px solid var(--bg-main);
  color: var(--color-text);

  &:hover,
  :focus {
    border-color: var(--blue);
  }
}

@mixin button-style {
  height: 8rem;
  width: 28rem;
  background-color: var(--bg-main);
  color: var(--color-text);
  border-radius: 10px;
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
