@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 40rem;
}
