@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

@keyframes zoom-in {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.pause {
  background-color: var(--bg-body);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * + * {
    margin-top: 2rem;
  }

  &__button {
    @include button-style;
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @include font-medium;

    @include tablet {
      @include font-large;
    }

    &--blue {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.current {
  transform: translateX(0);
}
