@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.game {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
}

.current {
  transform: translateX(0);
}