@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.game {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &__grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(9, auto);
  }

  &__cell {
    @include cell-size;
    border-radius: 10px;
    background-color: var(--bg-main);
    color: var(--blue);
    display: grid;
    place-items: center;
    @include font-small;
    cursor: pointer;

    &--bottom {
      margin-bottom: 1rem;
    }

    &--right {
      margin-right: 1rem;
    }

    &--filled {
      background-color: var(--filled-bg);
      color: var(--filled-color);
    }

    &--selected {
      background-color: var(--blue);
      color: var(--white);
    }

    &:hover {
      border: 2px solid var(--blue);
    }

    &--hover {
      border: 3px solid var(--blue);
    }

    &--error {
      background-color: var(--red);
      color: var(--white);
    }
  }

  &__info {
    margin: 2rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__info-container {
    height: 4.5rem;
    background-color: var(--bg-main);
    color: var(--color-text);
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding: 0 2rem;
    @include font-small;

    &--time {
      position: relative;
      align-items: center;
      justify-content: center;
      padding-left: 2rem;
      margin-bottom: auto;
    }
  }

  &__pause {
    position: absolute;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    @include font-small;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  &__number-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }

  &__number {
    @include cell-size;
    border-radius: 10px;
    background-color: var(--bg-main);
    color: var(--color-text);
    display: grid;
    place-items: center;
    @include font-small;
    cursor: pointer;

    &--delete {
      background-color: var(--red);
      color: var(--white);
    }
  }
}

.current {
  transform: translateX(0);
}
