@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(2rem);
  }

  50% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translateX(0);
  }
}

.start {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > * + * {
    margin-top: 2rem;
  }

  &__name {
    height: 4rem;
    width: 18rem;
    border-radius: 10px;
    outline: 0;
    background-color: var(--bg-main);
    padding: 2rem;
    @include font-medium;
    text-align: center;
    @include input-style;

    @include tablet {
      @include font-large;
      height: 8rem;
      width: 28rem;
    }

    &--error {
      border-color: var(--red);
      animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &__button {
    @include button-style;
    font-size: 2rem;

    &--blue {
      background-color: var(--blue);
      color: var(--white);
    }
  }
}

.current {
  transform: translateX(0);
}
