@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.nav {
  background-color: var(--bg-body);
  color: var(--color-text);
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 5px 2px var(--bg-main);
  z-index: 2;

  &__container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: var(--nav-size);

    @include tablet {
      padding: 0 4rem;
    }
  }

  &__logo {
    color: var(--blue);
    @include font-large;
  }

  &__toggle {
    color: var(--blue);
    cursor: pointer;
    @include font-small;
    @include tablet {
      @include font-large;
    }
  }

  &__icon {
    font-size: 1.4rem;

    &--sun {
      color: var(--blue);
    }

    &--moon {
      color: var(--blue);
    }
  }
}

.active {
  text-decoration: underline;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: var(--bg-main);
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
  border: 1px solid var(--blue);
  margin-right: 1rem;
  transform: scale(0.99);

  @include tablet {
    margin-right: 0;
    transform: scale(1.1);
  }
}

.ball {
  width: 20px;
  height: 20px;
  background-color: var(--blue);
  position: absolute;
  top: 2.3px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
