@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.nav {
  background-color: var(--bg-body);
  color: var(--color-text);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 5px 2px var(--bg-main);
  z-index: 2;

  &__container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    height: 7rem;
  }

  &__logo {
    @include font-large;
    color: var(--blue);
  }

  &__toggle {
    color: var(--blue);
    @include font-large;
    cursor: pointer;
  }

  &__icon {
    font-size: 1.4rem;

    &--sun {
      color: rgb(255, 184, 52);
    }

    &--moon {
      color: yellow;
    }
  }
}

.active {
  text-decoration: underline;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
  border: 1px solid white;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2.3px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
  transform: translateX(24px);
}